<!DOCTYPE html>
<html lang="en">
<head>
    <title>Not found</title>

    ${META}
    <style>
        ${STYLES}
    </style>
</head>

<body>
    <div class="container">
        nah, go away, it's 404
    </div>

    ${FOOTER}
</body>
</html>