.header {
    display: none;
}

.container {
    line-height: initial;
    text-align: center;
}

#head {
    width: 16rem;
    height: 16rem;

    margin: auto;
}

#head h1, h2 {
    display: none;
}

#head img {
    max-width: 100%;
    border-radius: 15%;
}

.social div {
    display: inline-block;
    margin-top: .5rem;
}

.social a {
    display: inline-block;
    min-width: 2rem;
}

.stuff a {
    display: inline-block;
    
    margin-top: .5rem;
    margin-right: .25rem;

    font-size: 1.25em;
    color: inherit;

    padding: .875rem;
    border: 1px solid black;

    text-decoration: none;
}

@media screen and (max-height: 55rem) and (min-height: 26rem) and (max-width: 26rem) {
    .social div {
        display: block;
    }

    .social a {
        margin-right: .5rem;
    }

    .stuff a {
        display: block;
        
        max-width: 10rem;
        margin-top: 1rem;

        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-height: 40rem) and (min-height: 26rem) {
    #head {
        width: 12rem;
        height: 12rem;
    }
}

@media screen and (max-height: 26rem) {
    #head {
        width: 25%;
        height: 25%;
    }
}