.container {
    line-height: initial;
    text-align: center;
}

#head {
    max-width: 16rem;
    border-radius: 15%;
}

.social div {
    display: inline-block;
    margin-top: .5rem;
}

.social a {
    display: inline-block;
    min-width: 1.85rem;
}

.stuff a {
    display: inline-block;
    margin: auto;
    margin-top: .5rem;

    font-size: 1.25em;
    color: inherit;

    padding: .875rem;
    border: 1px solid black;

    text-decoration: none;
}

@media screen and (max-height: 55rem) and (min-height: 26rem) and (max-width: 26rem) {
    #head {
        margin-bottom: .5rem;
    }

    .social div {
        display: block;
    }

    .stuff a {
        display: block;
        max-width: 10rem;
        margin-top: 1rem;
    }
}

@media screen and (max-height: 40rem) and (min-height: 26rem) {
    #head {
        max-width: 10rem;
    }

    .stuff a {
        padding: .75rem;
    }
}

@media screen and (max-height: 26rem) {
    #head {
        max-width: 25%;
    }
}