.container {
    line-height: initial;
    text-align: center;
}

#head {
    max-width: 16rem;
    border-radius: 15%;
}

.title {
    text-align: center;
}

.title h1 {
    margin: .5rem 0;
    font-size: 2rem;
}

.social div {
    display: inline-block;
}

.social a {
    display: inline-block;
    min-width: 1.85rem;
}

.stuff {
    text-align: center;
}

.stuff a {
    display: inline-block;
    margin-top: .5rem;

    font-size: 1.25em;
    color: inherit;

    padding: .875rem;
    border: 1px solid black;

    text-decoration: none;
}

@media screen and (max-height: 40rem) and (min-height: 26rem) {
    .container {
        margin-bottom: 0;
    }

    #head {
        max-width: 10rem;
    }

    .social div {
        display: block;
        margin-top: .25rem;
    }

    .stuff a {
        display: block;
        padding: .75rem;
        max-width: 10rem;
    }

    .title h1 {
        font-size: 1.75rem;
    }
}

@media screen and (max-height: 26rem) {
    #head {
        max-width: 30%;
    }
}

@media screen and (max-height: 50rem) {
    .container {
        margin-top: 0;
    }
}