<!DOCTYPE html>
<html lang="en">
<head>
    <title>On data compression using steganography</title>

    ${META}
    <style>
        ${STYLES}
        ${STYLES_LOCAL}
    </style>
</head>

<body>
<div class="container article">
    ${MD_CONTENT}
</div>

${FOOTER}
</body>
</html>