.article p {
    padding-right: 1rem;

    text-align: justify;
    text-justify: inter-word;
}

/* Taken from the GitHub stylesheets */
.article code {
    background-color: rgba(27,31,35,.05);
    border-radius: 3px;
    padding: .2rem .4rem;
}