<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contacts</title>

    ${META}
    <style>
        ${STYLES}
    </style>
</head>

<body>
${LANG_SWITCHER}

<div class="container">
    ${MD_CONTENT}
</div>

${FOOTER}
</body>
</html>