@media screen and (max-width: 100rem) {
    .container {
        text-align: justify;
        text-justify: inter-word;
        padding-right: 1rem;
    }

    .lang_switcher {
        display: block;
    }
}

@media screen and (max-width: 30rem) {
    .container {
        text-align: left;
        padding-right: 0;
    }

    .lang_switcher {
        display: none;
    }
}