html {
    height: 100%;
}

body {
    margin: .5rem;
    height: calc(100% - 2rem);

    font-family: "Courier New";
}

p, ul {
    line-height: 150%;
}

p img {
    max-width: 100%;
}

ul li {
    margin: .25rem 0
}

h2, h3 {
    margin-block-start: 1.5em;
}

h1::before {
    content: "# ";
}

h2::before {
    content: "## ";
}

h3::before {
    content: "### ";
}

table {
    text-align: left;
    border-collapse: collapse;
    
    margin-block-start: 1em;
    margin-block-end: 1em;
}

td, th {
    padding: .5em;
    border: 1px dashed;
}

#header {
    float: right;
}

#header a {
    color: black;
}

#hits {
    display: none;
}

#container {
    min-height: calc(100% - 2.25rem);

    max-width: 90ch;
    padding: 1rem;

    margin: auto;
}

#footer {
    margin: auto;
    text-align: center;
    padding-bottom: .5rem;
}