html {
    height: 100%;
}

body {
    margin: .5rem;
    height: calc(100% - 2rem);

    font-family: "DejaVu Sans Mono", monospace;
}

p, ul {
    line-height: 150%;
}

.header {
    position: absolute;
}

.header a {
    color: black;
}

.container {
    min-height: calc(100% - 2.25rem);

    max-width: 60rem;
    padding: 1rem;

    margin: auto;
}

.footer {
    margin: auto;
    text-align: center;
    padding-bottom: .5rem;
}