html {
    height: 100%;
}

body {
    margin: .5rem;
    height: calc(100% - 2rem);

    font-family: "Courier New";
}

p, ul {
    line-height: 150%;
}

p img {
    max-width: 100%;
}

ul li {
    margin: .25rem 0
}

h1, h2, h3, h4, h5, h6 {
    font-weight: initial;
}

h1 {
    padding-bottom: calc(.335em - 1px);
    border-bottom: 1px solid;
    margin-bottom: .335em;
}

h2 {
    padding-bottom: calc(.415em - 1px);
    border-bottom: 1px dashed;
    margin-bottom: .415em;
}

h3 {
    text-decoration: underline;
}

h3, h4 {
  font-weight: bold;
}

table {
    width: 100%;
    text-align: left;
    table-layout: fixed;
    border-collapse: collapse;
}

td {
    padding-top: .5em;
}

th {
  background-color: lightgrey;
}

#header {
    float: right;
}

#header a {
    color: black;
}

#hits {
    display: none;
}

#container {
    min-height: calc(100% - 2.25rem);

    max-width: 90ch;
    padding: 1rem;

    margin: auto;
}

#footer {
    margin: auto;
    text-align: center;
    padding-bottom: .5rem;
}